@model ProyectoFinal.Models.Socio

@{
    ViewBag.Title = "Eliminar";
}



<h3>Estas seguro que quieres eliminarlo?</h3>
<div>
    <h2>Eliminar Socio</h2>
    <hr />
    <dl class="dl-horizontal " >
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afiliados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afiliados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membresia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membresia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionOficina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionOficina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoOficina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoOficina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoMembresia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoMembresia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="btn btn-default">
            <input type="submit" value="Eliminar" class="btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
